.content {
    width: 1200px;
    .save-control {
        cursor: pointer;
        float: left;
    }
    .save-control>mat-icon {
        padding: 5px;
        color: seashell;
    }
    .header-control {
        background-color: #007CCB;
        color: white;
        width: 100%;
        padding: 5px 0px;
    }
    .control-header {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        margin: 0 auto;
        width: 100px;
    }
}

.control-elements {
    background-color: #fff;
    border: 2px solid #007CCB;
    padding: 10px;
    width: 100%;
    padding-bottom: 5px;
    height: 100px;
    .control-desc {
        font-size: 11px;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .control-group {
        display: inline-block;
        padding: 5px 0px;
        color: #007CCB;
        position: relative;
    }
    .control-group:not(:last-child) {
        border-right: 2px solid darkgray;
    }

}