<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav  class="sidenav" [mode]="mode.value">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/"  routerLinkActive="active" >FORMS</a>
      <a mat-list-item routerLink="posts"  routerLinkActive="active" >Posts</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a href="#">
          <span>E-FORM</span>
      </a>
    </mat-toolbar>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
