/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #E9EBEE;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.pdfViewer.removePageBorders .page {
    margin-right: 0px !important;
}

app-report-builder .dndDraggingSource {
    display: none;
}

.mat-form-field-infix {
    border-top: initial;
}

mat-form-field  .mat-form-field-wrapper  {
    padding-bottom: 0px !important;
}

mat-form-field .mat-form-field-underline {
    bottom: 0px !important;
}